html {
  box-sizing: border-box;
  margin:0; 
  padding:0; 
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    background-color: #edf2f7;
    color: #495057;
}

header, main {
	margin: 0 auto;
    max-width: 50rem;
}


main {
	background: white;
    border: 2px solid #e9ecef;
    -webkit-box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
    box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
    padding: 2rem 3rem;
}

ul, ol {
	padding: 0;
	list-style-position: inside;
}

table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;

    tr {
        border-bottom: 1px solid black;
    }

    td {
        padding: 0.5rem;
    }
}

img {
    width: 100%;
    margin: 0.5rem 0;
}

nav {
    ul {
        list-style: none !important;
        padding: 0;
        text-align: right;

        li {
            display: inline-block;
        }
    }
    a, a:visited {
        margin: 0.5rem;
        text-decoration: none;
        font-size: 0.875rem;
	    text-transform: uppercase;
	    color: inherit;
    }
}

footer {
    margin: 1rem 0;
    text-align: center;
    color: inherit;
}

